threadpoolctl==3.6.0
filelock==3.20.3
tzdata==2025.3
pytz==2025.2
pillow==12.1.0
numpy==2.4.1
fsspec==2026.1.0
networkx==3.6.1
xgboost==3.1.3
torchaudio==2.9.1
sympy==1.14.0
python-dateutil==2.9.0.post0
mpmath==1.3.0
typing_extensions==4.15.0
joblib==1.5.3
Jinja2==3.1.6
pandas==2.3.3
MarkupSafe==3.0.3
torch==2.9.1
torchvision==0.24.1
scipy==1.17.0
six==1.17.0
scikit-learn==1.8.0
setuptools==80.9.0
requests==2.32.5
click==8.3.1
certifi==2026.1.4
pydantic==2.12.5
pip==25.3
idna==3.11
protobuf==6.33.3
charset-normalizer==3.4.4
gitdb==4.0.12
PyYAML==6.0.3
sentry-sdk==2.49.0
pydantic_core==2.41.5
urllib3==2.6.3
packaging==25.0
wandb==0.23.1
wheel==0.45.1
GitPython==3.1.46
platformdirs==4.5.1
smmap==5.0.2
typing-inspection==0.4.2
annotated-types==0.7.0
